.banner{
  &-content{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    @extend %centerPoint;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      @extend %centerPoint;
      width: 60vw;
      height: 60vh;
      border-radius: 6px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      z-index: 1;
    }
  }
  &-title{
    line-height: 1.5;
    color: $light;

    &-deco{
      border-bottom: 2px solid $primary;
    }
  }
  &-subTitle{
    color: $light;

    >span{
      font-size: 1.5rem;
      margin-left: .5rem;
    }
  }
  &-search{
    width: 50vw;
    height: 3rem;
    &-btn{
      letter-spacing: .6rem;
    }
  }
  &-filter{
    position: absolute;
    top: 50%;
    left: 50%;
    @extend %centerPoint;
    width: 60vw;
    height: 60vh;
    backdrop-filter: blur(2px);
    border-radius: 6px;
    z-index: 1;
  }
}
.bi-geo-alt-fill{
  color: $primary;
  margin-right: .5rem;
}



