.banner{
    &-container{
      height: 100vh;
    }

  &-content{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    @extend %centerPoint;
    width: 60vw;

    @include mobile(){
      width: 90vw;
    }
    @include pad(){
      width: 90vw;
    }
    
    @include laptop(){
      width: 85vw;
    }

    @include x-laptop(){
      width: 80vw;
    }

  }
  &-title{
    color: $light;

    &-deco{
      border-bottom: 2px solid $primary;
    }
  }
  &-secondTitle{
    margin-top: .7rem;
    font-size: .7em;
  }
  &-subTitle{
    color: $light;

    >span{
      font-size: 1.5rem;
      margin-left: .5rem;
    }
  }

  &-filterBlur{

      position: absolute;
      top: 50%;
      left: 50%;
      @extend %centerPoint;
      width: 60vw;
      height: 60vh;
      backdrop-filter: blur(4px);
      border-radius: 6px;
      z-index: 2;
      @include pad(){
        width: 85vw;
      }

      @include mobile(){
        display: none;
      }

      &::before{
        content:'';
        position: absolute;
        top: 50%;
        left: 50%;
        @extend %centerPoint;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        border: 1px solid rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(0);

      }
  }
}

.bi-geo-alt-fill{
  color: $primary;
  margin-right: .5rem;
}


