.hamburger{
  &-menu{
    width: 30px;
    height: 30px;
    margin:6px 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    transition: all .5s;
    
    .menu-line{
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 1px;
      transform-origin:left;
      &-1{
        width: 70%;
        margin-left: auto;
        transition: all .5s .3s;
      }
      &-2{
        opacity: 1;
        transition: all .5s .3s;
      }
    }
  }

  &-menu.active{
    justify-content:space-between;
    transform: rotateZ(90deg);
    .menu-line{
      &-1:first-child{
        width: 130%;
        transform: rotateZ(45deg);
      }
      &-1:last-child{
        width: 130%;
        transform: rotateZ(-45deg);
      }
      &-2{
        opacity: 0;
      }
    }
  }  
}
