.navbar{
  z-index: 2;
  right: 0;
  left: 0;
  padding:0 45px;
  @include mobile(){
    padding:0 8px;
    border-bottom: 0;
  }

  &-brand{
    padding-top: 0;
    padding-bottom: 0;
  }
  &-toggler{
      margin: $navbar-toggler-margin 0;
  }
}

.nav{
  &-item{
    margin-left: 20px;
    margin-right: 2rem;
  }
  &-link{
    line-height: $header-hight;
    padding-top: 0;
    padding-bottom: 0;
    @include mobile(){
      line-height: $header-hight * .5;
    }
  }
}
