.navbar{
  z-index: 2;
  right: 0;
  left: 0;
  @include mobile(){
    padding:0 8px;
    border-bottom: 0;
  }

  &-brand{
    padding-top: 0;
    padding-bottom: 0;
  }
  &-toggler{
      margin: $navbar-toggler-margin 0;
  }
}

.nav{
  &-item{
    margin-left: 20px;
    margin-right: 2rem;

  }
  &-link{
    line-height: $header-hight;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;

    &::before{
      z-index: -1;
      content:'';
      width: 4em;
      height: 1em;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      @extend %centerPoint;
      background-color: $secondary;
      transform: skew(-45deg,0);
      @include mobile(){
        display: none;
      }
    }
    @include mobile(){
      line-height: $header-hight * .5;
    }
  }
}
