



.search{
  &-container{
    margin: 0 auto;

    @include x-laptop(){
      width: 90%;
    }
  }
  &-btn{
    letter-spacing: .6rem;
  }
  &-input{
    &:focus{
      transform: scaleY(.9);
      outline: 2px solid $primary;
    }
  }
}


.select{
  cursor: pointer;

  &-hidden{
    visibility: hidden;
  }

  &-styled{
    position: absolute; 
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2.75rem;
    line-height: 2.75rem;
    vertical-align: middle;
    background-color: $primary;

    &:after {
      content:"";
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-color: #fff transparent transparent transparent;
      position: absolute;
      top: 16px;
      right: 10px;
    }
    &:hover {
      background-color: lighten($primary, 2);
    }
    &:active, &.active {
      background-color: lighten($primary, 5);
      &:after {
        top: 9px;
        border-color: transparent transparent #fff transparent;
      }
    }
  }

  &-options{
    display: none; 
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darken(#fff, 5);


    &::-webkit-scrollbar{
      width: 10px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #aaa;
      border-radius: 20%;
    }


    li {
      margin: 0;
      padding: 12px 0;
      border-top: 1px solid darken(#fff, 10);
  
      &:hover, 
      &.is-selected {
        color: #fff;
        background: $primary;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }

  &-overflowY{
    max-height: 165px;
    overflow-y: scroll;
  }
}

.alert{
  display: none;
  position: absolute;
  @extend %centerPoint;
  left: 50%;
  bottom: 10%;
  width: 180px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 50px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 99;
  user-select:none;
  filter: drop-shadow(0 0 5px black);
  &::after{
    content: '';
    position: absolute;
    @extend %centerPoint;
    left: 50%;
    bottom: -20px;
    border-top:15px solid #fff ;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
  }
}