:root{
  --swiper-navigation-size:30px;
}
.swiper{

  &-loading{
    line-height:100vh ;
    margin: 0 auto;
    font-size: 2rem;
    color: #ccc;
  }
  &-wrapper{
    width: 100vw;
    height: 100vh;
    img{
      @extend %fullSpace;
          object-fit: cover;
          object-position: center;
        }
  }

  &-fade &-slide {
    transition-duration: 2000ms !important;
  }

  &-button{
    &-next,&-prev{
      opacity: .5;
      color: $primary;

      &:hover{
        opacity: 1;
      }
    }
  }
  &-pagination{
    text-align: end;
    padding-right: 30px;
    @include mobile(){
      display: none;
    }
    &-bullet{
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
      color: #000;
      opacity: .4;
      background: $primary;
      &:hover{
        opacity: 1;
      }
    }
  }

}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 30px;
}