.swiper-wrapper{
  img{
    width: 100vw;
    height: calc(100vh  - $header-hight);
    object-fit: cover;
    object-position: center;
  }
}

.swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
  color: #000;
  opacity: .4;
  background: $primary;
  &:hover{
    opacity: 1;
  }
}
