
.swiper{
  &1{
    position:relative;
  }
  &2{
    position:relative;
  }
  &-loading-1{
    line-height:100vh ;
    margin: 0 auto;
    font-size: 2rem;
    color: #ccc;
  }
  &-wrapper-1{
    height: 100vh;
    img{
      @extend %fullSpace;
          object-fit: cover;
          object-position: center;
        }
  }

  &-wrapper-2{
    height: 320px;
    img{
      @extend %fullSpace;
          object-fit: cover;
          object-position: center;
        }
  }


  &-fade &-slide {
    transition-duration: 2000ms !important;
  }

  &-button{
    &-next-1,&-prev-1{
      opacity: .5;
      color: $primary;
      &:hover{
        opacity: 1;
      }
    }
    &-next-2,&-prev-2{
      color: $primary;
      

      &::after{
        opacity: 1;
        padding: 1rem;
        border-radius: 5px;
        background-color: rgb(255, 255, 255,.2);
        box-shadow: 0 0 10px rgba(50, 50, 50, .7);
        font-weight: bold;
        line-height: 1;
      }

    }
  }
  &-pagination-1{
    text-align: end;
    padding-right: 30px;
    @include mobile(){
      display: none;
    }
    .swiper-pagination-bullet{
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
      color: #000;
      opacity: .4;
      background: $primary;
      &:hover{
        opacity: 1;
      }
    }
  }
}

