<div class="titleBox d-flex justify-content-between">
  <h2 class="h2 sectionTitle ">熱門主題</h2>
</div>

<div class="topics-container row row-cols-4 gx-3 gt-2">
  <div class="topics-item col">
    <img class="object-fix w-100 h-100" src="https://picsum.photos/id/684/600/400" alt="">
  </div>
  <div class="topics-item col overflow-hidden">
    <img class="object-fix" src="https://picsum.photos/id/684/600/400" alt="">
  </div>
  <div class="topics-item col overflow-hidden">
    <img class="object-fix" src="https://picsum.photos/id/684/600/400" alt="">
  </div>
  <div class="topics-item col overflow-hidden">
    <img class="object-fix" src="https://picsum.photos/id/684/600/400" alt="">
  </div>
</div>