*{
	margin: 0;
	padding: 0;
}

body{
  box-sizing: border-box;
};

img{
  vertical-align: bottom;
}
a{
  text-decoration: none;
}
.clearFix::after{
  content:'';
  display:block;
  clear:both;
}

.moreLink{
  float: right;
  font-size: 1rem;
  line-height: 38px;
}