html, body{
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans TC','Segoe UI','Microsoft JhengHei',Roboto,'Helvetica Neue',Arial,sans-serif;
};

$headerHight: 80px;
$footHight: 60px;
$navbar-font-size: 18px;