

#main{
  
  height: calc(2000px - $header-hight - $foot-hight  ) ;
  @include mobile(){
    height: calc(2000px - $header-s-hight - $foot-hight )
  }
}

.footer{
  height: $foot-hight;
  &-content{
    line-height: $foot-hight;
  }  
}
