
#header{
  @include mobile(){
    height: $header-hight 
  }
}
#main{
  height: calc(2000px - $header-hight - $foot-hight  ) ;
  @include mobile(){
    height: calc(2000px - $header-hight  - $foot-hight )
  }
}


.eventBox{
  margin-top: 3rem ;
}


#footer{
  height: $foot-hight;
}
.footer-content{
    line-height: $foot-hight;
}
